<ion-header>
    <ion-toolbar>
        <ion-title>rrhh</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="unGranDiv" style="height: 93vh;" *ngIf="botonera">
        <ion-row style="height:50%; ">
            <ion-col class="col-6" style="height:98%; background-color: red; color: seashell;  border-radius: 15px; ">
                <ion-icon name="people" style="color: white; zoom: 4;   vertical-align: auto; ">
                </ion-icon>
            </ion-col>
            <ion-col class="col-6 " style="height:98%; background-color: rgb(10, 98, 104); color: seashell; border-radius: 15px; ">
                <ion-icon name="albums" style="color: white; zoom: 4;  vertical-align: auto; ">
                </ion-icon>
            </ion-col>
        </ion-row>


    </div>
</ion-content>