<ion-list style="height: 75vh" color="dark">
    <ion-list-header color="dark">Elegi tu Menù</ion-list-header>
    <ion-item *ngFor="let producto of productos">
        <ion-thumbnail slot="start">
            <img src="{{producto.url}}">
        </ion-thumbnail>
        <ion-label>
            <h3>{{producto.nombre}}</h3>
            <p>{{producto.descripcion}} </p>
        </ion-label>
        <ion-button color="danger" (click)="elegir(producto)">Elegir</ion-button>
    </ion-item>
</ion-list>

<ion-footer style="height: 20vh">
    <ion-toolbar>
        <ion-button color="danger" style="width: 98%">Terminar Pedido</ion-button>
    </ion-toolbar>
</ion-footer>