<ion-content>
    <ion-list style="height: 75vh" color="dark">
        <ion-list-header color="dark">Elegi tu Menù</ion-list-header>
        <ion-item *ngFor="let producto of productos">
            <ion-thumbnail slot="start">
                <img src="{{producto.url}}">
            </ion-thumbnail>
            <ion-label>
                <h3>{{producto.nombre}}</h3>
                <p>{{producto.descripcion}} </p>
            </ion-label>
            <ion-button color="danger" (click)="elegir(producto)" *ngIf="admin=='cliente'">Elegir</ion-button>
            <ion-button color="secondary" (click)=" enviarProducto(producto)" *ngIf="admin=='admin'">Editar</ion-button>
        </ion-item>
    </ion-list>
</ion-content>