<ion-header>
    <ion-toolbar>
        <ion-title>detalleMesa {{nroMesa.numero}}</ion-title>
        <ion-button slot="end" color="light" routerLink="/cliente">
            <ion-icon name="arrow-back"> </ion-icon> Cliente
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header color="dark">Estado de Tu Mesa</ion-list-header>
    <div *ngIf="sacarDetalle">
        <ion-list color="dark">
            <ion-item>
                <ion-thumbnail slot="start">
                    <img src="{{nroMesa.url}}">
                </ion-thumbnail>
                <ion-label>
                    <h3>Mesa Nº {{nroMesa.numero}}</h3>
                    <p>Comensales: {{nroMesa.cantidadComensales}} </p>
                    <p style="font-weight: bold; color:rgb(203, 25, 219)">Estado {{nroMesa.estado}} </p>
                    <ion-button color="dark" (click)="  actualizar()">Actualizar</ion-button>
                </ion-label>
            </ion-item>
        </ion-list>

        <ion-list-header color="primary">Pedidos</ion-list-header>
        <ion-list *ngFor="let productos of pedidos">
            <ion-list-header color="dark">Prodcutos X Area {{productos.area}}
                <h5>{{productos.estado}}</h5> <span *ngIf="productos.tiempo_espera != -1 " class="animated bounce"> Tiempo {{productos.tiempo_espera}} </span> </ion-list-header>
            <ion-list>
                <ion-item *ngFor="let producto of productos.productos">
                    <ion-label>
                        <h3>{{producto.nombre}}</h3>
                        <p>{{producto.descripcion}} </p>
                        <p>{{producto.precio}} </p>
                    </ion-label>
                    <ion-button color="danger" (click)="elegir(producto)" *ngIf="admin=='cliente'">Elegir</ion-button>
                    <ion-button color="secondary" (click)=" enviarProducto(producto)" *ngIf="admin=='admin'">Editar</ion-button>
                </ion-item>
            </ion-list>
        </ion-list>
    </div>
    <!--  esto se podria poner en el padre  -->
    <div *ngIf="nroMesa.estado=='cuentaPedida'">
        <h2>Cerrando<span class="animated infinite fadeOut "> ...</span></h2>
        app-encuesta
    </div>
    <div *ngIf="nroMesa.estado=='pagando'">
        <h2>Pagando<span class="animated infinite fadeOut "> ...</span></h2>
        app-Cuenta
    </div>
    <div *ngIf="nroMesa.estado=='cerrada'">
        <h2>Pagando<span class="animated infinite fadeOut "> ...</span></h2>
        gracias por su visita
    </div>



    <ion-footer style="height: 10vh" *ngIf="admin=='cliente'">
        <ion-toolbar>
            <ion-button color="danger" style="width: 98%" (click)="enviarPedido()">Terminar Pedido ( {{acumuladorProductos}} )
            </ion-button>
        </ion-toolbar>
    </ion-footer>
</ion-content>