<ion-content>
  <ion-list style="height: 75vh" color="dark">
      <ion-list-header color="dark">Elegi tu Menù</ion-list-header>
      <ion-item *ngFor="let producto of usuarios">
          <ion-avatar size="small" slot="start">
              <img src="{{producto.foto}}">
          </ion-avatar>
          <ion-label>
              <p>{{producto.nombre}} {{producto.apellido}} | DNI: {{producto.dni}}</p>
              <h3>{{producto.perfil}}</h3>
              
          </ion-label>
          <ion-button color="danger" (click)="elegir(producto)">Elegir</ion-button>
      </ion-item>
  </ion-list>
  </ion-content>
  <ion-footer style="height: 20vh">
      <ion-toolbar>
          <!-- <ion-button color="danger" style="width: 98%" (click)="enviarPedido()">Terminar Pedido ( {{acumuladorProductos}} )</ion-button> -->
      </ion-toolbar>
  </ion-footer>