<ion-content>
    <div class="unGranDiv" style="height: 100vh;">
        <ion-row style="height:100%; ">
            <ion-col style="height:98%; background-color: rgb(153, 10, 117); color: seashell; border-radius: 15px; padding: 10px; ">
                <img src="../../../assets/images/qrPedi-01.png" alt="" (click)="pedirMesaQr()">
            </ion-col>
        </ion-row>
        <ion-row style="height:100%; ">
            <ion-col style="height:98%; background-color: rgb(238, 116, 207); color: seashell; border-radius: 15px; padding: 10px; ">
                <h2 class=" animated infinite flash">Esperando...</h2>
                <h4> Será atendido por un Mozo en Breve</h4>
            </ion-col>
        </ion-row>
    </div>
</ion-content>