<ion-header>
    <ion-toolbar color="dark" style="max-height: 50px">
        <ion-title>
            Admin

            <ion-icon name="log-out" (click)="salir()" style="color: blanchedalmond; font-size: 16pt"></ion-icon>

        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-bounce>
    <div class="unGranDiv" style="height: 93vh;">
        <ion-row style="height:50%; ">
            <ion-col class="col-6" style="height:98%; background-color: red; color: seashell;  border-radius: 15px; ">
                <ion-icon name="camera" style="color: white; zoom: 4;   vertical-align: auto; " (click)="camara() ">
                </ion-icon>
            </ion-col>
            <ion-col class="col-6 " style="height:98%; background-color: rgb(10, 98, 104); color: seashell; border-radius: 15px; ">
                <ion-icon name="albums" style="color: white; zoom: 4;  vertical-align: auto; " (click)="mostrarGaleria() ">
                </ion-icon>
            </ion-col>
        </ion-row>
        <ion-row style="height:50%; ">
            <ion-col class="col-6" style="height:98%; background-color: rgb(153, 10, 117); color: seashell; border-radius: 15px; ">
                <ion-icon name="stats" style="color: white; zoom: 4;   vertical-align: auto; " (click)="luz() ">
                </ion-icon>
            </ion-col>
            <ion-col class="col-6" style="height:98%; background-color:rgb(10, 153, 41); color: seashell; border-radius: 15px; ">
                <input type="file" name="archivo" id="archivo" (change)="detectFiles($event)" style="width: 50%">
            </ion-col>
        </ion-row>
    </div>
</ion-content>