<app-header [titulo]="title" [backButton]="true" (volver)="volver($event)"></app-header>

<ion-content no-bounce>
    <div class="unGranDiv" style="height: 93vh;" *ngIf="botonera">
        <ion-row style="height:25%; ">
            <ion-col class="col-12"
                style="height:98%; background-color: rgb(221, 77, 77); color: seashell;  border-radius: 15px; "
                (click)=" mesas()">
                <img class="icon" src="../../../assets/botoneraadmin-07.png" alt="" style="max-width: 70%">
            </ion-col>
        </ion-row>
        <ion-row style=" height:25%; ">
            <ion-col class="col-12 " style="height:98%; background-color: red; color: seashell; border-radius: 15px; "
                (click)=" productos() ">
                <img class="icon " src="../../../assets/botoneraadmin-08.png " alt="" style="max-width: 70%">
            </ion-col>
        </ion-row>
        <ion-row style="height:25%; ">
            <ion-col class="col-12"
                style="height:98%; background-color: rgb(194, 112, 18); color: seashell;  border-radius: 15px; "
                (click)=" empleados()">
                <img class="icon" src="../../../assets/botoneraadmin-06.png" alt="" style="max-width: 70%">
            </ion-col>
        </ion-row>
        <ion-row style=" height:25%; ">
            <ion-col class="col-12 "
                style="height:98%; background-color: rgb(10, 184, 146); color: seashell; border-radius: 15px; "
                (click)=" reservas() ">
                <img class="icon " src="../../../assets/botoneraadmin-10.png " alt="" style="max-width: 70%">
            </ion-col>
        </ion-row>
        <ion-row style=" height:25%; ">
            <ion-col class="col-12 "
                style="height:98%; background-color: rgb(82, 33, 5); color: seashell; border-radius: 15px; "
                (click)=" stats() ">
                <img class="icon " src="../../../assets/botoneraadmin-09.png " alt="" style="max-width: 70%">
            </ion-col>
        </ion-row>
    </div>


    <!--    <ion-content *ngIf="cargarProducto">
        <app-cargar-producto></app-cargar-producto>
    </ion-content>
    <ion-content *ngIf="altaMesa">
        <app-alta-mesa></app-alta-mesa>
            <app-listado-mesas></app-listado-mesas>
    </ion-content> -->