<app-header [titulo]="title" [backButton]="true" (volver)="volver($event)"></app-header>

<ion-content no-bounce>
    <div class="unGranDiv" style="height: 93vh;" *ngIf="botonera">
        <ion-row style="height:50%; ">
            <ion-col class="col-12" style="height:98%; background-color: red; color: seashell;  border-radius: 15px; " (click)="cambiarPerfilUsuario()">
                <ion-icon name="people" style="color: white; zoom: 4;   vertical-align: auto; ">
                </ion-icon>
            </ion-col>

        </ion-row>
        <ion-row style="height:50%; ">
            <ion-col class="col-12 " style="height:98%; background-color: rgb(10, 98, 104); color: seashell; border-radius: 15px; " (click)="cargarProductos() ">
                <ion-icon name="albums" style="color: white; zoom: 4;  vertical-align: auto; ">
                </ion-icon>
            </ion-col>

        </ion-row>

    </div>

    <ion-content *ngIf="adminPerfilUser">
        <app-listado-empleados (usuarioElegido)="editarUsu($event)"></app-listado-empleados>
    </ion-content>
    <ion-content *ngIf="editarUsuario">
        <app-adm-perfil-usuario [usuario]="usuarioElegido"></app-adm-perfil-usuario>
    </ion-content>
    <ion-content *ngIf="cargarProducto">
        <app-cargar-producto></app-cargar-producto>
    </ion-content>
    <ion-content *ngIf="altaMesa">
        <app-alta-mesa></app-alta-mesa>
    </ion-content>