<ion-header>
    <ion-toolbar>

        <ion-title (click)=" volver()">
            Empleados
        </ion-title>
        <ion-button slot="end" color="light" routerLink="/admin">
            <ion-icon class="icon" name="arrow-dropleft-circle"></ion-icon>
        </ion-button>

    </ion-toolbar>
</ion-header>

<ion-content *ngIf="botonera">
    <div class="unGranDiv" style="height: 93vh;">
        <ion-row style="height:50%; ">
            <ion-col class="col-12" style="height:98%; background-color: rgb(15, 209, 177); color: seashell;  border-radius: 15px; " (click)="cambiarPerfilUsu()">
                <img class="icon" src="../../../../assets/listado-alta-10.png" alt="" style="max-width: 70%">
            </ion-col>
        </ion-row>
        <ion-row style="height:50%; ">
            <ion-col class="col-12 " style="height:98%; background-color: rgb(80, 182, 12); color: seashell; border-radius: 15px; " (click)=" cliente()">
                Clientes
            </ion-col>

        </ion-row>

    </div>
</ion-content>

<ion-content *ngIf="adminPerfilUser">
    <app-listado-empleados (usuarioElegido)="editarUsu($event)"></app-listado-empleados>
</ion-content>
<ion-content *ngIf="editarUsuario">
    <app-adm-perfil-usuario [usuario]="usuarioElegido"></app-adm-perfil-usuario>
</ion-content>

<ion-content *ngIf="autorizarCliente">
    <app-listado-clientes></app-listado-clientes>
</ion-content>