<ion-header>
    <ion-toolbar>

        <ion-title (click)=" volver()">
            <ion-icon name="arrow-dropleft-circle" routerLink="/admin"></ion-icon> Empleados</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="botonera">
    <div class="unGranDiv" style="height: 93vh;">
        <ion-row style="height:32%; ">
            <ion-col class="col-12" style="height:98%; background-color: rgb(15, 209, 177); color: seashell;  border-radius: 15px; " (click)="cambiarPerfilUsu()">
                <img class="icon" src="../../../../assets/listado-alta-10.png" alt="" style="max-width: 70%">
            </ion-col>

        </ion-row>
        <ion-row style="height:32%; ">
            <ion-col class="col-12 " style="height:98%; background-color: rgb(12, 66, 182); color: seashell; border-radius: 15px; " (click)=" nuevoUsuario() ">
                <img class="icon" src="../../../../assets/listado-alta-11.png" alt="" style="max-width: 70%">
            </ion-col>

        </ion-row>
        <ion-row style="height:32%; ">
            <ion-col class="col-12 " style="height:98%; background-color: rgb(80, 182, 12); color: seashell; border-radius: 15px; " (click)=" cliente()">
                <img class="icon" src="../../../../assets/botoneraadmin-08.png" alt="" style="max-width: 70%">
            </ion-col>

        </ion-row>

    </div>
</ion-content>

<ion-content *ngIf="adminPerfilUser">
    <app-listado-empleados (usuarioElegido)="editarUsu($event)"></app-listado-empleados>
</ion-content>
<ion-content *ngIf="editarUsuario">
    <app-adm-perfil-usuario [usuario]="usuarioElegido"></app-adm-perfil-usuario>
</ion-content>

<ion-content *ngIf="autorizarCliente">
    <app-listado-clientes></app-listado-clientes>
</ion-content>