<app-header titulo="La Comanda - MadouRizzi" color="success" [backButton]="false"></app-header>

<ion-content padding color="dark">
    <form [formGroup]="form" (ngSubmit)="onSubmitLogin()">
        <ion-item color="light">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label position="floating"></ion-label>
            <ion-input formControlName="mail" type="text" placeholder="Ingrese su email"></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.mail">
            <div *ngIf="form.get('mail').hasError(validation.type) && (form.get('mail').dirty || form.get('mail').touched)">
                {{ validation.message }}
            </div>
        </ng-container>
        <ion-item color="light">
            <ion-icon name="unlock" slot="start"></ion-icon>
            <ion-label position="floating"></ion-label>
            <ion-input formControlName="password" type="password" placeholder="Ingrese su contraseña"></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.password">
            <div *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
                {{ validation.message }}
            </div>
        </ng-container>
        <br>

        <ion-button color="success" expand="block" type="submit" [disabled]="!form.valid">
            Entrar
        </ion-button>

        <ion-button expand="block" color="secondary" routerLink="/register">Registrar</ion-button>
        <ion-button expand="block" color="light" (click)="entrarAnonimo()">Entrar Anonimo</ion-button>

        <br>

    </form>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="warning">
            <ion-icon name="person"></ion-icon>
        </ion-fab-button>


        <ion-fab-list side="bottom">
            <ion-fab-button size="large" color="primary" (click)="cargarDatos(this.rolesEnum.admin)">
                Adm
            </ion-fab-button>

            <ion-fab-button side="bottom" size="large" color="secondary" (click)="cargarDatos(this.rolesEnum.cliente)">
                Mozo
            </ion-fab-button>

            <ion-fab-button size="large" color="tertiary" (click)="cargarDatos(this.rolesEnum.candyBar)">
                Cocina
            </ion-fab-button>
            <!-- 
            <ion-fab-button size="large" color="success" (click)="cargarDatos(this.rolesEnum.barman)">
                <ion-icon name="bulb"></ion-icon>
            </ion-fab-button> -->

            <ion-fab-button size="large" color="warning" (click)="cargarDatos(this.rolesEnum.cocina)">
                <ion-icon name="card"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="large" color="secondary" (click)="cargarDatos(this.rolesEnum.mozo)">
                Cliente
            </ion-fab-button>
            <ion-fab-button size="large" color="secondary" (click)="cargarDatos(this.rolesEnum.cervecero)">
                Birra
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>