<app-header [titulo]="title" [backButton]="true" (volver)="volver($event)"></app-header>
<ion-content no-bounce>
    <div class="unGranDiv" style="height: 92vh;" *ngIf="botonera">
        <ion-row style="height:50%; ">
            <ion-col style="height:98%; background-color: rgb(153, 10, 117); color: seashell; border-radius: 15px; ">
                <img src="../../../assets/images/qrPedi-02.png" alt="" (click)="leerQr()">
            </ion-col>
        </ion-row>
        <ion-row style="height:50%; ">
            <ion-col style="height:98%; background-color:rgb(12, 10, 153); color: seashell; border-radius: 15px; ">
                <ion-icon name="menu" style="color: white; zoom: 4;  vertical-align: auto; " (click)="ingresarPedido() ">
                </ion-icon>
                <label for="">Menu</label>
            </ion-col>
        </ion-row>
    </div>
    <ion-content *ngIf="pedirMesa">
        <div class="unGranDiv" style="height: 92vh;">
            <ion-row style="height:100%; ">
                <ion-col style="height:98%; background-color: rgb(153, 10, 117); color: seashell; border-radius: 15px; padding: 10px; ">
                    <img src="../../../assets/images/qrPedi-01.png" alt="" (click)="pedirMesaQr()">
                </ion-col>
            </ion-row>
        </div>
    </ion-content>
    <ion-content *ngIf="menu">
        <app-listado-productos (enviar)="recibirPedido($event)"></app-listado-productos>
    </ion-content>
    <ion-content *ngIf="confirmar">
        <app-confirmar-pedido [pedidoAConfirmar]="pedido"></app-confirmar-pedido>
    </ion-content>