<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-icon name="arrow-dropleft-circle" routerLink="/admin"></ion-icon> Productos</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="unGranDiv" style="height: 93vh;" *ngIf="botonera">
        <ion-row style="height:50%; ">
            <ion-col class="col-12" style="height:98%; background-color: red; color: seashell;  border-radius: 15px; " (click)="cambiarPerfilUsuario()">
                <ion-icon name="people" style="color: white; zoom: 4;   vertical-align: auto; ">
                </ion-icon>
            </ion-col>

        </ion-row>
        <ion-row style="height:50%; ">
            <ion-col class="col-12 " style="height:98%; background-color: rgb(10, 98, 104); color: seashell; border-radius: 15px; " (click)="cargarProductos() ">
                <ion-icon name="albums" style="color: white; zoom: 4;  vertical-align: auto; ">
                </ion-icon>
            </ion-col>

        </ion-row>

    </div>
</ion-content>