<ion-header>
    <ion-toolbar>
        <ion-title (click)=" volver()">
            Mesa</ion-title>

        <ion-button slot="end" color="light" routerLink="/admin">
            <ion-icon class="icon" name="arrow-dropleft-circle"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="botonera">
    <div class="unGranDiv" style="height: 93vh;">
        <ion-row style="height:50%; ">
            <ion-col class="col-12" style="height:98%; background-color: rgb(15, 209, 177); color: seashell;  border-radius: 15px; " (click)="verListaMesa()">
                <img class="icon" src="../../../../assets/listado-alta-10.png" alt="" style="max-width: 70%">
            </ion-col>

        </ion-row>
        <ion-row style="height:50%; ">
            <ion-col class="col-12 " style="height:98%; background-color: rgb(12, 66, 182); color: seashell; border-radius: 15px; " (click)="verAltaMesa() ">
                <img class="icon" src="../../../../assets/listado-alta-11.png" alt="" style="max-width: 70%">
            </ion-col>

        </ion-row>

    </div>
</ion-content>

<ion-content *ngIf="altaMesa">
    <app-alta-mesa></app-alta-mesa>
</ion-content>
<ion-content *ngIf="listaMesa">
    <app-listado-mesas></app-listado-mesas>
</ion-content>