<ion-header>
  <ion-toolbar>
    <ion-title>listado-espera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="cocineroMenu">
  <button *ngIf="usuario.tipo != 'mozo'" ion-button expand="block" class="menuButtonPPT ios button button-block button-solid ion-activatable ion-focusable hydrated" (click)="agregarse()">Agregarse</button>
  <br>
  <ion-list class="listaEsperaList">
    <ion-item class="listaEsperaItem" *ngFor="let registro of registros" style="background-color: transparent;">
      <ion-row>
        <ion-col col-2 class="listaEsperaIndice">{{registro.indice}}</ion-col>
        <ion-col class="listaEsperaNombre">{{registro.nombre}}</ion-col>
      </ion-row>
    </ion-item>
    <br>
  </ion-list>
</ion-content>